body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#users {
  margin-bottom: 30px;
  background-color: bisque;
}
.user {
  margin-bottom: 10px;
  background-color: #00B7FF;
}
